!!! 5
%html
  %head
    %title Credit Card Service
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' }
    %link{rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'custom.css'}
  %body
    %nav{class: 'navbar navbar-default' }
      .container-fluid
        .navbar-header
          %a{href: '/', class: 'navbar-brand', style: "color:black;"}
            %strong CreditCard
        %div{class: 'collapse navbar-collapse', style: "color:black;"}
          %ul.nav.navbar-nav.navbar-right{style: "color:black;"}
            - if @current_user
              %li{class: 'navbar-brand', style: "color:black;"}
                = " Welcome #{@current_user.username}, "
              %li
                %a{href: '/logout' ,style: "text-decoration: underline;", style: "color:black;"} Logout?
              %li
                %a{href: "/user/#{@current_user.username}", style: "color:black;"} Profile
            - else
              %li
                %a{href: '/login', style: "color:black;"} Login
              %li
                %a{href: '/register', style: "color:black;"} Register

    .container
      .page-header
        %h1
          %strong Welcome to Credit Card Service
      = haml :flash_bar
      = yield
