%h2 Retrieved Credit Card Info
%p
  = "#{@current_user.username}'s Stored Credit Cards"
-if @cards
  %table{class: 'over table', :border => '1'}
    %tbody
      %tr{class: 'rows'}
        %th{class: 'rows'} Owner's Name
        %th{class: 'rows'} Expiration Date
        %th{class: 'rows'} Number
        %th{class: 'rows'} Credit Card Network
        %th{class: 'rows'} Date Created
      -@cards.each do |card|
        %tr
          %td{class: 'rows'}
            = card['owner']
          %td{class: 'rows'}
            = card['expiration_date']
          %td{class: 'rows'}
            = card['encrypted_number']
          %td{class: 'rows'}
            = card['credit_network']
          %td{class: 'rows'}
            = card['created_at']
