%h2 Retrieved Credit Card Info
%p{Class: 'hlist'}
  = "#{@current_user.username}'s Stored Credit Cards"
-if @cards
  %table{class: 'over table', :border => '1'}
    %tbody
      %tr{class: 'rows'}
        %th{class: 'rows'} Owner's Name
        %th{class: 'rows'} Expiration Date
        %th{class: 'rows'} Number
        %th{class: 'rows'} Credit Card Network
        %th{class: 'rows'} Date Created
      -@cards.each do |card|
        %tr
          %td{class: 'r'}
            = card['owner']
          %td{class: 'r'}
            = card['expiration']
          %td{class: 'r'}
            = card['number']
          %td{class: 'r'}
            = card['network']
          %td{class: 'r'}
            = card['date']
          %td{class: 'r'}
