<<<<<<< HEAD
%h2 Retrieved Credit Card Info
%p
  = "#{@current_user.username}'s Stored Credit Cards"
-if @cards
  %table{class: 'center', :border => '1'}
    %tbody
      %tr
        %th Owner's Name
        %th Expiration Date
        %th Number
        %th Credit Card Network
      -@cards.each do |card|
        %tr
          %td
            = card['owner']
          %td
            = card['expiration_date']
          %td
            = card['encrypted_number']
          %td
            = card['credit_network']
=======
%h2 Retrieving Credit Card Info
-if @cards
  %table{:class => 'table'}
    %tr
      %th Owner
      %th Encrypted Number
      %th Network
      %th Expiration Date
      %th Created
    - @cards.each do |card|
      %tr
        %td
          = card['owner']
        %td
          = card['encrypted_number']
        %td
          = card['credit_network']
        %td
          = card['expiration_date']
        %td
          = card['created_at']
>>>>>>> 4b63ebbe51539ef98c673948a10487ec2be0cdf1
