%h2 Retrieving Credit Card Info
-if @cards
  %table{:class => 'table'}
    %tr
      %th Owner
      %th Encrypted Number
      %th Network
      %th Expiration Date
      %th Created
    - @cards.each do |card|
      %tr
        %td
          = card['owner']
        %td
          = card['encrypted_number']
        %td
          = card['credit_network']
        %td
          = card['expiration_date']
        %td
          = card['created_at']