%h2 Retrieved Credit Card Info
%p
  = "#{@current_user.username}'s Stored Credit Cards"
-if @cards
  %table{class: 'center', :border => '1'}
    %tbody
      %tr
        %th Owner's Name
        %th Expiration Date
        %th Number
        %th Credit Card Network
        %th Date Created
      -@cards.each do |card|
        %tr
          %td
            = card['owner']
          %td
            = card['expiration_date']
          %td
            = card['encrypted_number']
          %td
            = card['credit_network']
          %td
            = card['created_at']
